* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
header {
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png") ,#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;
}
nav {
    width: 71%;
    /* max-width: 1140px; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
.color-primary {
    color: #FD6E0A;
}
nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
}
nav a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.btn {
    cursor: pointer;
    color: white;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
}
#banner {
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 85px;
    color: #181818;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

#about{
    padding-top: 130px ;
    text-align: center;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    /* text-align: center; */
    background-color: #f1d4bf;
    padding: 131px, 156px;
    
}
h2{
    text-align: center;

}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0px auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
      
}
.section-heading p{
    color: #757575;
    font-size: 18ox;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.about-info{
    display: flex;
    justify-content: space-around;
    line-height: 30px;
    /* align-items:center ; */
    padding: 30px;
}
.about-info p{
    color: #757575;
    font-weight: bold;

}
.about-info .info-card{
    height: 60px;
    width: 161px;

}
.about-info .info-card h4{
    font-size: 17px;
}
#skills{
    padding: 130px;

}
 .skills-container h2{
    padding-bottom: 30px;
    
}
#skills .skills-container p {
    
    margin: 0 auto;
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center;
}
#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skill-box .skill-card {
    padding: 30px;
    border: 1px solid black;
    max-width: 267px;



}
.skill-box {
    display: flex;
    gap: 24px;

}
.skill-card img{
    max-width: 44px;
    height: 35.73px;
    margin-bottom: 30px;

}
.skill-card h4{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.skill-card{
    box-shadow: 0 6px 50px 0 #00000057;

}

